stages:
  - test
  - build
  - publish
  - deploy
  - cleanup

variables:
  CI_TAG: "ci-$CI_COMMIT_REF_SLUG-$CI_COMMIT_SHORT_SHA"
  HELM: "helm3"
  REPO_URL: http://repo-staging.dc.prozorro.gov.ua/repos/helm/

build:
  stage: build
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  tags:
    - shell
  script:
    - docker build  --build-arg version=$(git describe --tags) -t $CI_REGISTRY_IMAGE:$CI_TAG .
    - docker push $CI_REGISTRY_IMAGE:$CI_TAG

test:
  image: docker-registry.prozorro.gov.ua/docker/images/python:3.9-alpine3.14
  stage: test
  services:
    - name: bitnami/mongodb:6.0.13
      alias: mongo
  variables:
    SWAGGER_DOC_AVAILABLE: ""
    AUTH_PATH: ${CI_PROJECT_DIR}/auth.ini
    IMG_DIR: ${CI_PROJECT_DIR}/images
    MONGODB_URI: mongodb://root:example@mongo:27017/?replicaSet=rs0
    MONGODB_ROOT_PASSWORD: example
    MONGODB_REPLICA_SET_MODE: primary
    MONGODB_REPLICA_SET_NAME: rs0
    MONGODB_REPLICA_SET_KEY: replicaSetKey
  tags:
    - kube-dev
  before_script:
    - apk --no-cache add gcc build-base git openssl-dev libffi-dev
    - pip install -r requirements.txt
    - pip install -r tests/requirements.txt
    - pip install -e .
  script:
    - pytest -x -s tests/integration/
      --cov=src/catalog
      --cov-report xml
      --cov-report term
  artifacts:
    reports:
      coverage_report:
        path: coverage.xml
        coverage_format: cobertura
  coverage: '/TOTAL.+ ([0-9]{1,3}%)/'


publish_latest:
  stage: publish
  tags:
    - shell
  variables:
    TAG: "latest"
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
    - docker tag $CI_REGISTRY_IMAGE:$CI_TAG $CI_REGISTRY_IMAGE:$TAG
    - docker push $CI_REGISTRY_IMAGE:$TAG
  only:
    - master
  except:
    - schedules

publish_tag:
  extends: publish_latest
  variables:
    TAG: $CI_COMMIT_TAG
  only:
    - tags


review:
  stage: deploy
  tags:
    - shell
  environment:
    name: review/${CI_COMMIT_REF_SLUG}
    action: start
    url: http://api.${CI_COMMIT_REF_SLUG}.${K8S_DOMAIN}/api/ping
    on_stop: stop_review
    auto_stop_in: 1 month
  variables:
    TAG: ci-$CI_COMMIT_REF_SLUG-$CI_COMMIT_SHORT_SHA
    VERSION: $CI_COMMIT_REF_SLUG-$CI_COMMIT_SHORT_SHA
    RELEASE: catalog-${CI_COMMIT_REF_SLUG}
  script:
    - helm3 upgrade -i ${RELEASE} helm/prozorro-catalog --namespace dev-prozorro
        --set image.tag=${TAG}
        --set environment.VERSION=${VERSION}
        --set ingress.hosts[0].host=catalog.${RELEASE}.k8s.prozorro.gov.ua,ingress.hosts[0].paths[0].path=/
        --set ingress.hosts[0].paths[0].pathType=ImplementationSpecific
  only:
    - branches
  except:
    - master
    - schedules
  when: manual

review_cron:
  stage: deploy
  tags:
    - shell
  environment:
    name: review/${CI_COMMIT_REF_SLUG}
    action: start
    on_stop: stop_review
    auto_stop_in: 1 month
  variables:
    TAG: ci-$CI_COMMIT_REF_SLUG-$CI_COMMIT_SHORT_SHA
    VERSION: $CI_COMMIT_REF_SLUG-$CI_COMMIT_SHORT_SHA
    RELEASE: catalog-${CI_COMMIT_REF_SLUG}-cron
  script:
    - helm3 upgrade -i ${RELEASE}-cron helm/prozorro-catalog --namespace dev-prozorro
        --set image.tag=${TAG}
        --set environment.VERSION=${VERSION}
  only:
    - branches
  except:
    - master
    - schedules
  when: manual


stop_review:
  stage: deploy
  script:
    - helm3 delete catalog-$CI_COMMIT_REF_SLUG catalog-${CI_COMMIT_REF_SLUG}-cron --namespace dev-prozorro
  environment:
    name: review/${CI_COMMIT_REF_SLUG}
    action: stop
  tags:
    - shell
  only:
    - branches
  except:
    - master
    - schedules
  when: manual

review_master:
  extends: review
  stage: deploy
  environment:
    name: review/${CI_COMMIT_REF_SLUG}
    action: start
    url: http://api.${CI_COMMIT_REF_SLUG}.${K8S_DOMAIN}/api/ping
    on_stop: stop_review
    auto_stop_in: 1 month
  variables:
    TAG: latest
    RELEASE: catalog-master
  after_script:
    - kubectl --namespace dev-prozorro rollout restart deployment catalog-master-prozorro-catalog
  only:
    - master
  except:
    - schedules

stop_review_review:
  extends: stop_review
  only:
    - master
  except:
    - schedules
  when: manual


clenup-ci-image:
  stage: cleanup
  tags:
    - shell
  script:
    - docker rmi -f $CI_TAG || true
  when: always
