aiohttp
motor
pytz
aiohttp-swagger>=1.0.14, <2
pydantic==1.7.3
aiocache>=0.11.1, <1
ujson # requirements for aiocache
msgpack # requirements for aiocache
aiofiles>=0.7.0
python-json-logger==2.0.1
PyNaCl>=1.5.0, <2
sentry-sdk
git+https://github.com/ProzorroUKR/standards.git@1.0.25#egg=standards